html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
}
.container{
  display: flex;
  height: 600px;
  background-color: red;
}
.content{
  display: flex;
  height: 200px;
  width: 200px;
  margin: auto;
  background-color: white;
}
