html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  height: 600px;
  background-color: red;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.content {
  display: flex;
  height: 200px;
  width: 200px;
  margin: auto;
  background-color: white;
}
.child {
  width: 200px;
  height: 50px;
  background-color: white;
  line-height: 50px;
  text-align: center;
  font-size: 3em;
  font-weight: bolder;
}
